@import './../../../../variables.scss';
.mat-form-field-infix {
    width: 100%;
}
.mat-form-field {
    width: 100%;
}
.auto-fetch {
    padding: $pix3 $pix10;
    background: $green-1;
    border-radius: $pix18;
    color: $white;
    font-size: $fontsize-4;
    color: $white;
    font-size: $pix20;
}
.addbut {
    margin-top: 42px;
}
.check-meter-type {
    margin-top: $pix5;
}