<app-header></app-header>
<app-nav></app-nav>

<section class="w-100 float-left common-wrap-all-page">
    <ng-scrollbar class="page-scroll">
        <div class="wrap-mani w-100 float-left">
            <div class="col-xl-12">
                <h1 class="float-left">Change Password</h1>
            </div>
            <div class="loader" *ngIf="show_load">Loading</div>
            <div class="alert alert-danger alert-dismissible" *ngIf="errorMsg">
              {{errorMsg}}
            </div>
            <div class="alert alert-success alert-dismissible" *ngIf="succMsg">
              {{succMsg}}
            </div>
            <br>
          <form [formGroup]="passwordFormGroup" (ngSubmit)="onSubmit()">
            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <div class="w-100 float-left ">
                    <div class="col-lg-12 wrap-form float-left">
                      <div class="w-100 float-left bg-inner-area">
                          <div class="w-100 float-left c-w-f">
                            <div class="col-lg-6">
                              <mat-label>Password</mat-label>
                            </div>
                            <div class="col-lg-6">
                              <mat-form-field class="example-full-width" appearance="outline">
                                <input type="password" matInput placeholder="Enter Password" class="input-fields" formControlName="password" >
                                <mat-error *ngIf="passwordFormGroup.get('password').invalid && (passwordFormGroup.get('password').dirty || passwordFormGroup.get('password').touched)">
                                    Password is required
                                </mat-error> 
                              </mat-form-field>
                              <mat-password-strength (onStrengthChanged)="onStrengthChanged($event)" [password]="passwordFormGroup.get('password').value">
                              </mat-password-strength>    
                            </div>                          
                          </div>
                          <div class="w-100 float-left c-w-f">
                            <div class="col-lg-6">
                              <mat-label> Confirm Password</mat-label>       
                            </div>   
                            <div class="col-lg-6">                   
                              <mat-form-field class="example-full-width" appearance="outline">
                                <input type="password" matInput placeholder="Enter Password" class="input-fields" formControlName="confirm_password" >
                                <mat-error *ngIf="passwordFormGroup.get('confirm_password').invalid && (passwordFormGroup.get('confirm_password').dirty || passwordFormGroup.get('confirm_password').touched)">
                                    Confirm Password is required
                                </mat-error> 
                              </mat-form-field>  
                            </div>                             
                          </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 float-left wrap-button mar-bottom">
              <button mat-raised-button class="float-left btn-common2 btn-01 mar-right" [disabled]="((!passwordFormGroup.valid) || (password_strength < 60))">Save</button>
            </div>
          </form>
        </div>
    </ng-scrollbar>
</section>