<app-header></app-header>
<app-nav></app-nav>

<section class="w-100 float-left common-wrap-all-page">
  <ng-scrollbar class="page-scroll">
    <div class="wrap-mani w-100 float-left dash-wrap customer-dash-wrap">

      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 float-left dashboard-widget-wrap">
        <div class="inner-dashboard-wrap w-100 float-left nopad top-five-customers">
          <div class="w-100 float-left wrap-title-noti">
            <h1 class="heading-1 float-left">Top 5 Customers</h1>
            <div class="float-right noti-ciosn"><i class="material-icons">people</i></div>
          </div>
          <div class="alerts-scroll-wrap w-100 float-left top-fv-cus">
            <ng-scrollbar class="page-scroll">
              <div class="inner-alert-scroll-wrap w-100 float-left top-five-cus-in-wrap">
                <div class="w-100 float-left oddclass">
                  <div class="content-an cuatomer-details-widget float-left">
                    <div class="number-customer float-left text-center">1</div>
                    <div class="customer-id-details float-left">
                      Cus.ID : 2135
                    </div>
                  </div>
                  <div class="date-time-an float-right tot-consump-top-cust">
                    <span class="text-left text-uppercase">Consumption<br>
                      <font>$ 5,235</font>
                    </span>
                  </div>
                </div>
                <div class="w-100 float-left evenclass">
                  <div class="content-an cuatomer-details-widget float-left">
                    <div class="number-customer float-left text-center">2</div>
                    <div class="customer-id-details float-left">
                      Cus.ID : 423
                    </div>
                  </div>
                  <div class="date-time-an float-right tot-consump-top-cust">
                    <span class="text-left text-uppercase">Consumption<br>
                      <font>$ 4,123</font>
                    </span>
                  </div>
                </div>
                <div class="w-100 float-left oddclass">
                  <div class="content-an cuatomer-details-widget float-left">
                    <div class="number-customer float-left text-center">3</div>
                    <div class="customer-id-details float-left">
                      Cus.ID : 2136
                    </div>
                  </div>
                  <div class="date-time-an float-right tot-consump-top-cust">
                    <span class="text-left text-uppercase">Consumption<br>
                      <font>$ 3,943</font>
                    </span>
                  </div>
                </div>
                <div class="w-100 float-left evenclass">
                  <div class="content-an cuatomer-details-widget float-left">
                    <div class="number-customer float-left text-center">4</div>
                    <div class="customer-id-details float-left">
                      Cus.ID : 428
                    </div>
                  </div>
                  <div class="date-time-an float-right tot-consump-top-cust">
                    <span class="text-left text-uppercase">Consumption<br>
                      <font>$ 3,567</font>
                    </span>
                  </div>
                </div>
                <div class="w-100 float-left oddclass">
                  <div class="content-an cuatomer-details-widget float-left">
                    <div class="number-customer float-left text-center">5</div>
                    <div class="customer-id-details float-left">
                      Cus.ID : 235
                    </div>
                  </div>
                  <div class="date-time-an float-right tot-consump-top-cust">
                    <span class="text-left text-uppercase">Consumption<br>
                      <font>$ 3,443</font>
                    </span>
                  </div>
                </div>
              </div>
            </ng-scrollbar>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 float-right dashboard-widget-wrap total-sale">
        <div class="inner-dashboard-wrap w-100 float-left wrap-cus-tp-slider">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left graph-slider text-center noborder">
            <div class="inner-wrap-g-slider w-100 float-left ">
              <h1 class="">Total Sale</h1>
              <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">

                    <div class="inner-carosel-dash w-100 float-left">
                      <div class="col-sm-12 col-md-5 col-lg-3 col-xl-3 consumption-details float-left">
                        <div class="w-100 float-left consumption-iner text-left">
                          <h5 class="heading-5">Electricity</h5>
                          <div class="w-100 float-left consumption-details-inner">
                            <div class="w-100 float-left wrap-report-consumption">
                              <h4 class="nomar">Consumption (kWh)</h4>
                              <h3 class="nomar">2,84,193</h3>
                            </div>
                            <div class="w-100 float-left wrap-report-consumption nobor">
                              <h4 class="nomar">Expected (kWh)</h4>
                              <h3 class="nomar">4,12,374</h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-7 col-lg-9 col-xl-9 consumption-details-graph float-left rel-pos">
                        <div id="cus-elect-graph" class="w-100 float-left graph-common" style="height:304px;"></div>
                      </div>
                    </div>

                  </div>

                  <div class="carousel-item ">

                    <div class="inner-carosel-dash w-100 float-left">
                      <div class="col-sm-12 col-md-5 col-lg-3 col-xl-3 consumption-details float-left">
                        <div class="w-100 float-left consumption-iner text-left">
                          <h5 class="heading-5">Gas</h5>
                          <div class="w-100 float-left consumption-details-inner">
                            <div class="w-100 float-left wrap-report-consumption">
                              <h4 class="nomar">Consumption (kWh)</h4>
                              <h3 class="nomar">2,84,193</h3>
                            </div>
                            <div class="w-100 float-left wrap-report-consumption nobor">
                              <h4 class="nomar">Expected (kWh)</h4>
                              <h3 class="nomar">4,12,374</h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-7 col-lg-9 col-xl-9 consumption-details-graph float-left rel-pos">
                        <div id="cus-elect-graph2" class="w-100 float-left graph-common" style="height:304px;"></div>
                      </div>
                    </div>

                  </div>
                 
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="w-100 float-left dashboard-widget-wrap">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left">
          <div class="inner-dashboard-wrap w-100 float-left nopad notification-dashboard-wrap acc-man-notification">
            <div class="w-100 float-left wrap-title-noti">
              <h1 class="heading-1 float-left">Notifications & Alerts</h1>
              <div class="float-right noti-ciosn"><i class="material-icons">notifications_active</i></div>
            </div>
            <div class="alerts-scroll-wrap w-100 float-left">
              <ng-scrollbar class="page-scroll">
                <div class="inner-alert-scroll-wrap w-100 float-left">
                  <div class="w-100 float-left in-acc-man red-alert">
                    <div class="acc-man-noti-span float-left">Customer ID<br>
                      459IFG4</div>
                    <div class="acc-man-noti-span float-left">No of Alerts<br>
                      20</div>
                    <div class="acc-man-noti-span float-left">Action Taken<br>
                      1</div>
                  </div>
                  <div class="w-100 float-left in-acc-man orange-alert">
                    <div class="acc-man-noti-span float-left">Customer ID<br>
                      559IFG5</div>
                    <div class="acc-man-noti-span float-left">No of Alerts<br>
                      15</div>
                    <div class="acc-man-noti-span float-left">Action Taken<br>
                      3</div>
                  </div>
                  <div class="w-100 float-left in-acc-man green1-alert">
                    <div class="acc-man-noti-span float-left">Customer ID<br>
                      4595FJ7</div>
                    <div class="acc-man-noti-span float-left">No of Alerts<br>
                      10</div>
                    <div class="acc-man-noti-span float-left">Action Taken<br>
                      5</div>
                  </div>
                  <div class="w-100 float-left in-acc-man green-alert">
                    <div class="acc-man-noti-span float-left">Customer ID<br>
                      359FG5</div>
                    <div class="acc-man-noti-span float-left">No of Alerts<br>
                      15</div>
                    <div class="acc-man-noti-span float-left">Action Taken<br>
                      12</div>
                  </div>
                  <div class="w-100 float-left in-acc-man green-alert">
                    <div class="acc-man-noti-span float-left">Customer ID<br>
                      359FG5</div>
                    <div class="acc-man-noti-span float-left">No of Alerts<br>
                      15</div>
                    <div class="acc-man-noti-span float-left">Action Taken<br>
                      12</div>
                  </div>
                  <div class="w-100 float-left in-acc-man green-alert">
                    <div class="acc-man-noti-span float-left">Customer ID<br>
                      359FG5</div>
                    <div class="acc-man-noti-span float-left">No of Alerts<br>
                      15</div>
                    <div class="acc-man-noti-span float-left">Action Taken<br>
                      12</div>
                  </div>
                  <div class="w-100 float-left in-acc-man green-alert">
                    <div class="acc-man-noti-span float-left">Customer ID<br>
                      359FG5</div>
                    <div class="acc-man-noti-span float-left">No of Alerts<br>
                      15</div>
                    <div class="acc-man-noti-span float-left">Action Taken<br>
                      12</div>
                  </div>
                  <div class="w-100 float-left in-acc-man green-alert">
                    <div class="acc-man-noti-span float-left">Customer ID<br>
                      359FG5</div>
                    <div class="acc-man-noti-span float-left">No of Alerts<br>
                      15</div>
                    <div class="acc-man-noti-span float-left">Action Taken<br>
                      12</div>
                  </div>
                  <div class="w-100 float-left in-acc-man green-alert">
                    <div class="acc-man-noti-span float-left">Customer ID<br>
                      359FG5</div>
                    <div class="acc-man-noti-span float-left">No of Alerts<br>
                      15</div>
                    <div class="acc-man-noti-span float-left">Action Taken<br>
                      12</div>
                  </div>
                </div>
              </ng-scrollbar>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8 float-left">
          <div class="inner-dashboard-wrap w-100 float-left">
            <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5 float-left top-Ele-cus">
              <div class="w-100 float-left title-wrap-widget">
                <h1 class="heading-1 float-left">Top Electricity Consumers</h1>
              </div>
              <div class="w-100 float-left graph-common">
                  <div id="top-ele-customer" class="w-100 float-left" style="height:300px"></div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7 float-right load-profile">
              <div class="w-100 float-left title-wrap-widget">
                <h1 class="heading-1 float-left">24 Hrs. Load Profile</h1>
                <div class="float-right select-ec c-w-f">
                  <mat-form-field appearance="outline">
                    <mat-select disableOptionCentering [(value)]="selected">
                      <mat-option value="option1">Select Option</mat-option>
                      <mat-option value="option2">Options</mat-option>
                      <mat-option value="option3">Options</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="w-100 float-left graph-common">
                <div id="load-profile-chart" class="w-100 float-left" style="height:300px"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left footer-class">
        <p>© Copyright 2018</p>
      </div>
    </footer>
  </ng-scrollbar>
</section>