@import './../../../../../variables.scss';
.mat-form-field-infix {
    width: 100%;
}
.mat-form-field {
    width: 100%;
}
.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: rgba(0, 0, 0, 0.4) !important;
    outline: none !important;
}


