<app-header></app-header>
<app-nav></app-nav>

<section class="w-100 float-left common-wrap-all-page">
    <ng-scrollbar class="page-scroll">
        <div class="wrap-mani w-100 float-left">
            <div class="col-xl-12">
                <h1 class="float-left">Template View </h1>
                <button (click)="goToTemplateList()" mat-raised-button class="float-right btn-common2 btn-01 mar-right addbut add-button-mar-top">Back
                    to Template</button>
            </div>
            <div class="wrap-mani w-100 float-left">
                <div class="col-lg-12 float-left wrap-set-value mar-top add-meter-wrap">
                    <div class="bg-inner-area w-100 float-left">
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left c-w-f">
                            <mat-label class="w-100 float-left">Name</mat-label>
                            <mat-form-field class="example-full-width input-sideby" appearance="outline">
                                <input matInput type="text" value="{{templateData.temp_name}}" disabled class="w-100">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left c-w-f">
                            <mat-label class="w-100 float-left">State</mat-label>
                            <mat-form-field class="example-full-width input-sideby" appearance="outline">
                                <input matInput type="text" value="{{templateData.state_name}}" disabled class="w-100">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left c-w-f">
                            <mat-label class="w-100 float-left">Region</mat-label>
                            <mat-form-field class="example-full-width input-sideby" appearance="outline">
                                <input matInput type="text" value="{{templateData.city_name}}" disabled class="w-100">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left c-w-f">
                            <mat-label class="w-100 float-left">Resource</mat-label>
                            <mat-form-field class="example-full-width input-sideby" appearance="outline">
                                <input matInput type="text" value="{{templateData.resource_name}}" disabled class="w-100">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left c-w-f">
                            <mat-label class="w-100 float-left">Parameter</mat-label>
                            <mat-form-field class="example-full-width input-sideby" appearance="outline">
                                <input matInput type="text" value="{{templateData.parameter_name}}" disabled class="w-100">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left c-w-f">
                            <mat-label class="w-100 float-left">Unit</mat-label>
                            <mat-form-field class="example-full-width input-sideby" appearance="outline">
                                <input matInput type="text" value="{{templateData.unit_name}}" disabled class="w-100">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="templateConfigData.length > 0" class="wrap-mani w-100 float-left">
                <div *ngFor="let tr of templateConfigData" class="col-lg-12 float-left wrap-set-value mar-top add-meter-wrap">
                    <div class="bg-inner-area w-100 float-left">
                        <div class="w-100 float-left checkbox-wrap check-add-edit ">
                            <mat-checkbox checked="true" disabled>{{tr.val}} Variable</mat-checkbox>
                        </div>
                        <div *ngIf="tr.list.length > 0">
                            <div *ngFor="let lists of tr.list" class="col-sm-12 col-md-6 col-lg-4 col-xl-4 float-left section-add-box rel-pos nopad-left ">
                                <div class="w-100 float-left c-w-f rel-pos">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <input matInput type="text" disabled value="{{lists}}">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12">
                    <button (click)="goToTemplateList()" mat-raised-button class="float-right btn-common2 btn-01 mar-right addbut add-button-mar-top">Back
                        to Template</button>
                </div>
            </div>
            <div *ngIf="(templateConfigData | json) == '{}'" class="wrap-mani w-100 float-left">
                <div class="col-lg-12 float-left wrap-set-value mar-top add-meter-wrap">
                    <div class="bg-inner-area w-100 float-left">
                        <div class="w-100 float-left checkbox-wrap check-add-edit ">
                            <button *ngIf="(templateConfigData | json) == '{}'" (click)="goToConfig()"
                                mat-raised-button class="float-left btn-common2 btn-01 mar-right addbut add-button-mar-top">Config
                                Here</button>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </ng-scrollbar>
</section>