/* color Variables */
$white:#fff;
$gray:#F4F4F4;
$gray-1:#333333;
$gray-2:#999999;
$gray-3:#666666;
$gray-4:#E9EAE8;
$gray5:#f9f9f9;
$green-1:#0D8924;
$green-2:#84BD00;
$blue-1:#0072CE;
$blue-2:#2CD5C4;
$blue-3:#77C5D5;
$red-1:#DF4661;
$orange-2:#FF8F1C;

/* color Variables */
$path:'assets/fonts';
/*alignment*/
$left:left;
$right:right;
$center:center;
/*alignment*/
/* fontsize Variables */
$fontsize-anchore:14px;
$general-font-size:19px;
/* fontsize Variables */
/* display Variables */
$display-block:block;
$display-inlineblock:inline-block;
$diaplay-none:none;
$display-flex:flex;
/* display Variables */
/* font-weight Variables */
$weight200:200;
$weight300:300;
$weight400:400;
$weight500:500;
$weight600:600;
$weight700:700;
$weight800:800;
$weight900:900;
/* font-weight Variables */
/* margin Variables */
$margin-heading:20px 0;
/* margin Variables */
/* font-style */
$italic:italic;
$normal:normal;
/* font-style */
$font-300:'museo_sans_rounded300';
$font-500:'museo_sans_rounded500';
$font-700:'museo_sans_rounded700';
$font-900:'museo_sans_rounded900';
/* font-style */
/* padding */
$padding-1:30px;
$padding-2:20px;
$padding-3:10px;
$padding-4:0px;
$padding-5:5px;
$padding-6:15px;
/* padding */
/* font-size */
$fontsize-1:18pt;
$fontsize-2:14pt;
$fontsize-3:12pt;
$fontsize-4:10pt;
$fontsize-el-1:28pt;
$fontsize-el-2:24pt;
$fontsize-el-3:20pt;
/* padding */
/* gradient */
$gradient-1:linear-gradient(to left, #ffffff, #fcfcfc, #f9f9f9, #f7f7f7, #f4f4f4);
$gradient-2:linear-gradient(to right bottom, #f4f4f4, #f7f7f7, #f9f9f9, #fcfcfc, #ffffff);
$gradient-3:linear-gradient(to right, #f5f5f5, #f7f7f7, #fafafa, #fcfcfc, #ffffff);
$gradient-4:linear-gradient(to left, #444444, #404040, #3b3b3b, #373737, #333333);
/* gradient */
/* position */
$relative:relative;
$absolute:absolute;
$fixed:fixed;
$inherit:inherit;
$initial:initial;
$flex:flex;
/* position */
/* margin */
$margin-0:0;
/* margin */
/* shadow */
$shadow: 0px 0px 30px rgba(0, 0, 0, 0.07);
$shadow1: 0px 4px 20px rgba(0, 0, 0, 0.07);
$shadow2: 0px 0px 4px rgba(0, 0, 0, 0.07);
/* shadow */
/* pixel */
$pix0:0px;
$pix1:1px;
$pix2:2px;
$pix3:3px;
$pix4:4px;
$pix5:5px;
$pix6:6px;
$pix7:7px;
$pix8:8px;
$pix9:9px;
$pix10:10px;
$pix11:11px;
$pix12:12px;
$pix13:13px;
$pix14:14px;
$pix15:15px;
$pix16:16px;
$pix17:17px;
$pix18:18px;
$pix19:19px;
$pix20:20px;
$pix25:25px;
$pix30:30px;
$pix35:35px;
$pix40:40px;
$pix45:45px;
$pix50:50px;
/* pixel */
$hidden:hidden;