<div class="col-xl-12 login">
  <div class="top-login w-100 float-left text-center">
    <img src="../assets/images/logo.PNG"  alt="">
  </div>
  <div class="w-100 float-left bottom-login text-center">
      <div class="col-xl-5 col-lg-5 col-md-8 col-sm-8 centered text-left">
          <div class="form-login w-100 float-left">              
            <div class="alert alert-danger alert-dismissible" *ngIf="errorMsg">
              {{errorMsg}}
            </div>   
            <div class="alert alert-success alert-dismissible" *ngIf="succMsg">
              {{succMsg}}
            </div>         
              <h1 class="text-left">Sign In</h1>
              <form [formGroup]="forgotPasswordFormGroup" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="outline" class="w-100 float-left form-login-fields first-field">
                  <mat-label>Email</mat-label>
                  <div [ngClass]="{'has-error' : forgotPasswordFormGroup.get('email').errors && (forgotPasswordFormGroup.get('email').touched || forgotPasswordFormGroup.get('email').dirty)}">
                    <input type="email" matInput placeholder="Enter Email" class="input-fields" formControlName="email" >
                    <i class="material-icons icon-login">
                        person
                    </i>
                  </div>
                </mat-form-field> 
                <div class="w-100 float-left button-area">
                  <button mat-raised-button class="float-left btn-common btn-01">Sign in</button>
                </div>    
              </form>    
            </div>
      </div>
  </div>
  </div>